.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
build/
coverage.xml
dist/
htmlcov/
logs/
__pycache__/
*.egg-info/

# Ignore everything in data/ except the DB and README
data/*
!data/arachne.db
!data/README.md
!data/jobs.json

# UI Node deps
ui/node_modules/
ui/dist/

tmp/
.vscode/
