.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
build/
coverage.xml
dist/
htmlcov/
logs/
__pycache__/
*.egg-info/

# Ignore everything in data
data/

# UI generated data
ui/public/jobs.json
ui/public/analytics.json
ui/public/system_config.json

# UI Node deps
ui/node_modules/
ui/dist/
ui/.vite/

tmp/
.vscode/
